---
import Layout from '@layouts/Layout.astro';
import Start from '@components/inicio.astro';  
import Aboutme from '@components/about_me.astro';
import Projects from '@components/proyectos.astro';
import Tecology from '@components/tecology.astro';
import Navbar from '@components/navbar.astro';

---


<Layout title="Portafolio">
    <Navbar/>
    <main class="max-w-screen-lg mx-auto ">
        <Start/>
        <Aboutme/>
        <Projects />
        <Tecology/>
    </main>
</Layout>
