---
import Layout from '@layouts/Layout.astro';
---


<Layout title="Portafolio">
    <main class=" flex flex-col max-w-screen-lg mx-auto">
        <section class="">
            <article class="flex flex-col md:flex-row items-center gap-4 my-10 justify-center">
                <img src="" alt="mi Foto" class=" w-40 h-40 rounded-full shadow-[0_0_10px_0_rgba(0,0,0,0.5)]">
                <div class="p-10 rounded-lg bg-ash_grey mt-4 shadow-md">
                    <h1 class="text-2xl font-bold text-center sm:text-left">Hola!, Soy Angel Linarez</h1>
                    <h2>Soy desarrollador web Forntend!</h2>
                    <p>Apasiadonado por el mundo de la tecnologia y la programacion.</p>
                </div>
            </article>
            <div class="flex gap-5">
                <a href="" class="flex items-center gap-2 text-[15px] text-white bg-byzamtium py-1 px-2 rounded-2xl hover:scale-110 transition-trasform duration-300">
                    <img src="/public/icon/github.svg" alt="github" class="w-10 h-10">
                    GitHub
                </a>
                <a href="" class="flex items-center gap-2 text-[15px] text-white bg-byzamtium py-1 px-2 rounded-2xl hover:scale-110 transition-trasform duration-300">
                    <img src="/public/icon/linkedin.svg" alt="github" class="w-10 h-10">
                    linkedIn
                </a>
                <a href="" class="flex items-center gap-2 text-[15px] text-white bg-byzamtium py-1 px-2 rounded-2xl hover:scale-110 transition-trasform duration-300">
                    <img src="/public/icon/github.svg" alt="github" class="w-10 h-10">
                    GitHub
                </a>
            </div>
        </section>
        <section class=my-10>
            <h2 class="text-center font-bold text-lg">Sobre mi</h2>

        </section>
    </main>
</Layout>
