---
---
<section class="pt-16  [&>p]:my-7 w-3/5 mx-auto animate-fade_In" id="aboutme">
    <div class="flex gap-2">
        <img src="/src/assets/aboutme.svg" alt="about me" class="w-10 h-10">
        <h2 class="font-bold text-xl">Sobre Mi</h2>
    </div>
    <p>Hola, Angel Linárez, mis conocido me llamas Yisus, soy en Venezuela, Portuguesa. Antes no tenia ni idea de lo que era la informática, y ahora actualmente estoy estudiando y aprendiendo tecnologías nuevas.</p>
    <p>En la universidad me dedicaba en ayudar a mis compañeros a estudiar y pulir habilidades sobre la tecnología y la programación y aprender a adaptarnos a nuevas herramienta.</p>
    <p></p>
    <div></div>
</section>