---
interface Props {
    title: string;
    description: string;
    href?: string;
    codigo?: string;

}
const {title, description, href, codigo} = Astro.props as Props;
---

<article class="flex flex-col gap-3 bg-ash_grey rounded-xl p-5 my-10 shadow-xl hover:ring-2 hover:ring-byzamtium hover:transition-[outline] ease-in-out duration-500">
    <img src="" alt="Proyect-image" class="aspect-video">
    <h3 class="text-xl">{title}</h3>
    <p>{description}</p>
    <div class="flex justify-center gap-5">
        <a href={href} class="btn w-fit">Ver proyecto</a>
        {codigo && <a href={codigo} class="py-2 px-3 bg-black text-white rounded-xl hover:scale-110 transition-transform">Ver código</a>}
    </div>
</article>