---
import {Toast} from 'webcoreui/astro'

---
<label>
    <span class="text-sm font-bold">Enviame un mail</span>
    <div class=" flex gap-3 items-center bg-mint px-2 py-1 rounded-lg " id="input-container">
        <input type="email" disabled value="angeljlinarez@gmail.com" id="email">
        <button title="Copiar Correo" id="btn"><img src="src/assets/clipboard.svg" alt="clipboard" class="w-5 h-5" id="input-icon"></button>
    </div>
    <Toast title="Copiado!" className="toast" theme="success">
        Se a copiado el correo correctamente!
    </Toast>
</label>
<script>
    import { toast } from 'webcoreui'
    const email = document.getElementById("email") as HTMLInputElement;
    const btn = document.getElementById("btn");
    const img = document.getElementById("input-icon") as HTMLImageElement;
    const contenedor  = document.getElementById("input-container");

    btn?.addEventListener("click", () => {
        navigator.clipboard.writeText(email.value);
        img.src = "src/assets/check.svg";
        contenedor?.classList.add("ring-2","ring-byzamtium");
        btn.title = "Copiado!";
        toast({
            element: '.toast',
            timeout: 3000,
        })
        setTimeout(()=>{
            img.src = "src/assets/clipboard.svg";
        }, 3000)

    });
</script>