<footer class="my-16 flex flex-col gap-5 w-4/5  mx-auto md:w-auto md:mx-0">
    <div class="h-[3px] bg-gradient-to-r from-transparent via-yale_blue to-transparent"></div>
    <p>© Todos los derechos reservador. Angel Linárez</p>
    <p class="text-[13px]">Pagina desarrollada con ❤️<span id="animate">y tailwind</span> </p>
</footer>

<style>
    #animate{
        animation: animate 5s infinite;
    }
    @keyframes animate {
        0%{
            opacity: 0;
        }
        25%{
            opacity: 0;
        }
        50%{
            opacity: 1;
        }
        75%{
            opacity: 0;
        }
        100%{
            opacity: 0;
        }
    }
</style>