---
import "src/styles/app.css";
import Email from "@components/email.astro";
---
<section id="inicio">
    <article class="flex flex-col md:flex-row items-center gap-4 my-10 justify-center ">
        <img src="" alt="mi Foto" class=" w-40 h-40 rounded-full shadow-[0_0_10px_0_rgba(0,0,0,0.5)]">
        <div class="p-10 rounded-lg bg-ash_grey mt-4 shadow-md">
            <h1 class="text-2xl font-bold text-center sm:text-left">Hola!👋, Soy Angel Linarez</h1>
            <h2>Soy desarrollador Web Frontend!</h2>
            <p>Apasiadonado por el mundo de la tecnologia y la programacion.</p>
        </div>
    </article>
    <div class="flex justify-center flex-wrap items-center gap-5 [&>a>img]:size-7 md:flex-nowrap
    [&>a]:px-2 [&>a]:py-3
    ">
        <a href="" class="flex items-center gap-2 btn">
            <img src="/icon/github.svg" alt="github" class="w-10 h-10">
            GitHub
        </a>
        <a href="" class="flex items-center gap-2 btn">
            <img src="/icon/linkedin.svg" alt="github" class="w-10 h-10">
            linkedIn
        </a>
        <Email />
    </div>
</section>