<header class="sticky top-0 z-10">
    <nav class="backdrop-blur-sm bg-slate-50/15">
        <ul class="relative flex w-full justify-center gap-5 font-poppins py-4 flex-wrap">
            <li class="">
                <a href="#aboutme" class="hover:bg-slate-100/20 p-2 rounded-lg hover:animate-fading">Sobre mi</a>
            </li>
            <li>
                <a href="#inicio" class="hover:bg-slate-100/20 p-2 rounded-lg hover:animate-fade_In">Inicio</a>
            </li>
            <li>
                <a href="#proyectos" class="hover:bg-slate-100/20 p-2 rounded-lg hover:animate-fade_In">Proyectos</a>
            </li>
            <li class="md:absolute md:right-1/4">
                <a href="" download="Angel_LinarezCV.pdf" class="btn">Descargar CV</a>
            </li>
        </ul>
    </nav>	
</header>